# backend
.env
.env.*
venv/
.venv/
__pycache__/
*.py[cod]
.DS_Store
.vscode/
tasks.db

# frontend
node_modules/
.next/
out/
build/
dist/
*.tsbuildinfo
.npm/
yarn.lock
.env.local
.env.*.local
PROJECT_STRUCTURE.md
