apiVersion: v1
kind: Secret
metadata:
  name: backend-secret
  namespace: task-manager
type: Opaque
stringData:
  DATABASE_URL: postgresql://postgres:<POSTGRES_PASSWORD_HERE>@postgres.task-manager.svc.cluster.local:5432/taskdb